* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

.titulo-producto, .main-preguntas h1, .contacto-contenedor h2, .contacto-titulo {
  text-align: center;
  margin: 2vh;
  color: #ff7c92;
  font-size: 7vh; }

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor-logo #logo {
    width: 0 auto; }

.bg-negro {
  background-color: black; }

.nav-item:hover {
  background-color: #ffd0d7; }

.navbar-dark .navbar-nav .nav-link {
  color: lightpink;
  font-size: 3vh; }

.navbar-dark:hover .nav-link:hover {
  color: black; }

.dropdown-menu {
  background-color: black; }
  .dropdown-menu .dropdown-item {
    color: lightpink; }
    .dropdown-menu .dropdown-item:hover {
      color: black;
      background-color: #e7bdc4; }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: black;
  background-color: #ffd0d7; }
  .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .show > .nav-link:hover {
    background-color: black;
    color: lightpink; }

.dropdown-item.active, .dropdown-item:active {
  background-color: black;
  color: lightpink; }

@media (max-width: 510px) {
  #logo {
    width: 25vh; } }

.flex-footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3vh; }
  .flex-footer .caja-footer {
    color: white;
    margin-top: 3.5vh; }
  .flex-footer ul {
    padding: 0; }
  .flex-footer li {
    list-style-type: none; }
  .flex-footer a {
    padding: 0;
    color: lightpink;
    text-decoration: none; }
    .flex-footer a:hover {
      text-decoration: underline;
      color: white; }

.icono {
  font-size: 2em;
  color: white;
  margin: 3px;
  margin-left: 40px; }
  .icono:hover {
    color: lightpink; }

@media (max-width: 510px) {
  .flex-footer {
    flex-direction: column;
    align-items: center;
    text-align: left; } }

body {
  background-image: linear-gradient(to bottom, rgba(248, 187, 198, 0.342), rgba(223, 198, 202, 0.336)); }

.flex-modelos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2vh; }
  .flex-modelos .caja-modelo img {
    border-radius: 3%; }

.negro {
  color: white;
  background-color: black; }
  .negro:hover {
    background-color: #ffd0d7;
    color: black;
    border: black; }

.contenedor-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor-producto .tarjeta {
    margin: 1.5vh; }

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem lightpink; }

@media (max-width: 510px) {
  .titulo-producto {
    font-size: 4vh; }
  .tarjeta {
    justify-content: center;
    margin: 0 auto; } }

.main-preguntas {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5%;
  margin-bottom: 8%; }
  .main-preguntas .contenedor-preguntas {
    display: flex;
    justify-content: center;
    text-align: justify; }
    .main-preguntas .contenedor-preguntas .pregunta {
      margin: 3%;
      background-color: #e7bdc4;
      border-radius: 10%;
      text-align: center;
      width: 80vh;
      height: 25vh; }
      .main-preguntas .contenedor-preguntas .pregunta:hover {
        background-color: black;
        color: pink;
        transform: scale(1.2);
        transition: 1s all; }
      .main-preguntas .contenedor-preguntas .pregunta h2 {
        text-align: center; }
      .main-preguntas .contenedor-preguntas .pregunta p {
        font-size: 2.5vh; }

@media (max-width: 682px) {
  .main-preguntas .contenedor-preguntas {
    flex-wrap: wrap;
    margin: 2vh; }
    .main-preguntas .contenedor-preguntas .pregunta {
      height: 30vh; } }

@media (max-width: 363px) {
  .main-preguntas h1 {
    font-size: 5vh; }
  .main-preguntas .contenedor-preguntas .pregunta {
    height: 50vh; } }

.contacto-contenedor {
  width: 100%;
  padding: 2vh; }
  .contacto-contenedor .contacto-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .contacto-contenedor .contacto-mapa iframe {
      width: 60vh;
      height: 60vh;
      margin: 4vh; }

.contacto-informacion {
  margin-top: 5%;
  margin-bottom: 10vh; }
  .contacto-informacion h4 {
    color: #f7aab7;
    font-size: 4vh; }
    .contacto-informacion h4:hover {
      transform: scale(1.111);
      transition-property: all;
      transition-duration: 1s;
      transition: 1s; }
  .contacto-informacion p {
    font-size: 2.5vh; }
  .contacto-informacion ul {
    padding: 0; }
  .contacto-informacion li {
    list-style-type: none; }
  .contacto-informacion a {
    text-decoration: none;
    color: black; }
    .contacto-informacion a:hover {
      color: lightpink; }
  .contacto-informacion .icono2 {
    font-size: 3vh;
    color: black; }
    .contacto-informacion .icono2:hover {
      color: lightpink; }
  .contacto-informacion .btn-form {
    color: #ffd0d7;
    background-color: black;
    border-color: pink;
    margin-top: 2%;
    margin-left: 45%; }

@media (max-width: 767px) {
  .contacto-formulario {
    margin-top: 10%; }
  .contacto-informacion {
    display: flex;
    justify-content: center;
    text-align: center; } }

@media (max-width: 510px) {
  .contacto-contenedor .contacto-mapa iframe {
    width: 45vh;
    height: 45vh; }
  .contacto-informacion .btn-form {
    margin-left: 10%; } }
