@mixin subtitulo{
    color: $subtitulo-color;
    font-size: $subtitulo-tamanio;
    &:hover{
        transform: scale(1.111);
            transition-property: all;
            transition-duration: 1s;
            transition: 1s;
    }
}

@mixin informacion{
    font-size: $parrafo-tamanio;
}