.contacto-contenedor{
    width: 100%;
    padding: 2vh;
    h2{
        @extend %estilosTitulo;
    }
    .contacto-mapa{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        iframe{
            width: 60vh;
            height: 60vh;
            margin: 4vh;

        }
    }
}

.contacto-titulo{
    @extend %estilosTitulo;
}
.contacto-informacion{
    margin-top: 5%;
    margin-bottom: 10vh;
    h4{
    @include subtitulo;
    }
    p{
        @include informacion;
    }
    ul{
        padding: 0;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: $link-color;
        }
    }
    .icono2{
        font-size: 3vh;
        color: black;
        &:hover{
            color: $link-color;
        }
    }
    .btn-form{
        color: $boton-color;
        background-color: $negro;
        border-color: pink;
        margin-top: 2%;
        margin-left: 45%;
    }

}

@media (max-width:767px){
    .contacto-formulario{
        margin-top: 10%;
    }
    .contacto-informacion{
        display: flex;
        justify-content: center;
        text-align: center;

    }
}

@media (max-width:510px){
    .contacto-contenedor{
        .contacto-mapa{
            iframe{
                width: 45vh;
                height: 45vh;
            }

        }
    }
    .contacto-informacion{
        .btn-form{
            margin-left: 10%;
        }

    }
    
}
