//MODELOS//

body{
    background-image: linear-gradient(to bottom, rgba(248, 187, 198, 0.342), rgba(223, 198, 202, 0.336));
}

.flex-modelos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2vh;

    .caja-modelo img{
        border-radius: 3%;
    }
}

