.main-preguntas{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5%;
    margin-bottom: 8%;
    h1{
        @extend %estilosTitulo;
    }
    .contenedor-preguntas{
        display: flex;
        justify-content: center;
        text-align: justify;
        .pregunta{
            @include pregunta;
            h2{
                text-align: center;
            }
        }
    }
}


@media (max-width:682px){
    .contenedor-preguntas{
        flex-wrap: wrap;
        margin: 2vh;
    }
}

@media (max-width:320px){
    .main-preguntas{
        h1{
            font-size: $titulo-tamanio-mobile
        }
    }
}