.main-preguntas{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5%;
    margin-bottom: 8%;
    h1{
        @extend %estilosTitulo;
    }
    .contenedor-preguntas{
        display: flex;
        justify-content: center;
        text-align: justify;
        .pregunta{
            @include pregunta;
            width: 80vh;
            height: 25vh;
            h2{
                text-align: center;
            }
            p{
                font-size: $parrafo-tamanio;
            }
        }
    }
}


@media (max-width:682px){
    .main-preguntas{
        .contenedor-preguntas{
            flex-wrap: wrap;
            margin: 2vh;
            .pregunta{
                height: 30vh;
                
            }
        }
    }
}

@media (max-width:363px){
    .main-preguntas{
        h1{
            font-size: $titulo-tamanio-mobile
        }
        .contenedor-preguntas{
            .pregunta{
                height: 50vh;
            }
        }
    }
}